NodeRED flows/Task development/Data management.txt
[{"id":"b620c456.377138","type":"tab","label":"Flow 19"},{"id":"700be6f2.ef11a8","type":"function","z":"b620c456.377138","name":"insert_task","func":"\n\nvar task_id=msg.req.query.task_id;\nvar image_x86=msg.req.query.image_x86;\nvar image_arm=msg.req.query.image_arm;\nvar port_internal=msg.req.query.port_internal;\nvar port_external=msg.req.query.port_external;\nvar execution=msg.req.query.execution;\nvar parameters=msg.req.query.parameters;\nvar url=msg.req.query.url;\n\nmsg.payload={ task_id: task_id,image_x86:image_x86, image_arm:image_arm,port_external:port_external,port_internal:port_internal,url:url, parameters:parameters};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":649.5002212524414,"y":743.5236682891846,"wires":[["41b1dac.7957424","19cbb91b.9f8d37"]]},{"id":"ca678fde.59fd4","type":"http in","z":"b620c456.377138","name":"","url":"/add_task","method":"get","swaggerDoc":"","x":436.00013732910156,"y":660.5235443115234,"wires":[["700be6f2.ef11a8"]]},{"id":"41b1dac.7957424","type":"mongodb out","z":"b620c456.377138","mongodb":"9ee0b479.bfeb08","name":"","collection":"tasks","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1054.4933776855469,"y":558.2974834442139,"wires":[]},{"id":"19cbb91b.9f8d37","type":"http response","z":"b620c456.377138","name":"","x":931.5080184936523,"y":739.4141874313354,"wires":[]},{"id":"da8b933f.9220b","type":"function","z":"b620c456.377138","name":"insert_node","func":"\n\nvar node_id=msg.req.query.node_id;\nvar type=msg.req.query.type;\nvar model=msg.req.query.model;\nvar os=msg.req.query.os;\nvar version=msg.req.query.version;\nvar ram=msg.req.query.ram;\nvar clock=msg.req.query.clock;\nvar cpus=msg.req.query.cpus;\nvar arch=msg.req.query.arch;\nvar provider=msg.req.query.provider;\nvar location=msg.req.query.loc;\nvar ip=msg.req.query.ip;\nmsg.payload={ node_id: node_id,type:type, model:model,os:os,version:version,ram:ram, clock:clock,cpus:cpus, arch:arch, provider:provider, location:location, ip:ip };\nreturn msg;\n","outputs":1,"noerr":0,"x":630.5078125,"y":1073.5234375,"wires":[["445ac885.2fbb98","a9702872.1742c8"]]},{"id":"e30f0cd1.895","type":"http in","z":"b620c456.377138","name":"","url":"/add_node","method":"get","swaggerDoc":"","x":417.00772857666016,"y":990.5233135223389,"wires":[["da8b933f.9220b"]]},{"id":"445ac885.2fbb98","type":"mongodb out","z":"b620c456.377138","mongodb":"9ee0b479.bfeb08","name":"","collection":"nodes","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1028.5009155273438,"y":953.297040939331,"wires":[]},{"id":"a9702872.1742c8","type":"http response","z":"b620c456.377138","name":"","x":881.5154876708984,"y":1207.4139308929443,"wires":[]},{"id":"6069dafd.43c934","type":"function","z":"b620c456.377138","name":"insert_mapping","func":"\n\nvar map_id=msg.req.query.map_id;\nvar node=msg.req.query.node;\nvar task=msg.req.query.task;\nvar network_delay=msg.req.query.network_delay;\nvar processing_speed=msg.req.query.processing_speed;\nmsg.payload={ map_id: map_id,node:node, task:task, network_delay:network_delay, processing_speed:processing_speed };\nreturn msg;\n","outputs":1,"noerr":0,"x":583.5078125,"y":1374.0234375,"wires":[["205949dc.480166","f514a8a8.12eb58"]]},{"id":"c8fad50.e139728","type":"http in","z":"b620c456.377138","name":"","url":"/add_mapping","method":"get","swaggerDoc":"","x":370.00772857666016,"y":1291.0233135223389,"wires":[["6069dafd.43c934"]]},{"id":"205949dc.480166","type":"mongodb out","z":"b620c456.377138","mongodb":"9ee0b479.bfeb08","name":"","collection":"mappings","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":960.5008239746094,"y":1262.7969760894775,"wires":[]},{"id":"f514a8a8.12eb58","type":"http response","z":"b620c456.377138","name":"","x":824.5154876708984,"y":1507.9139308929443,"wires":[]},{"id":"9ee0b479.bfeb08","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""}]