NodeRED flows/Task development/Task creator.txt
[{"id":"daeeedfb.864be","type":"tab","label":"Flow 6"},{"id":"edbad3e.f24dc3","type":"http in","z":"daeeedfb.864be","name":"","url":"/binding_create","method":"get","swaggerDoc":"","x":211.91278076171875,"y":359.2474479675293,"wires":[["e7768cc0.fe2df"]]},{"id":"e7768cc0.fe2df","type":"file in","z":"daeeedfb.864be","name":"","filename":"C:\\Users\\Acer\\Documents\\lb_node","format":"utf8","x":480.6666793823242,"y":357.3333396911621,"wires":[["6e2ae2c3.184dbc"]]},{"id":"331ab748.4eb888","type":"function","z":"daeeedfb.864be","name":"processing","func":"var result={};\nvar node=msg.req.query.node; \nvar task=msg.req.query.task;\n\n\nfor(var i =0; i<msg.payload.length;i++)\n{\n    if(msg.payload[i].name==\"input_format\")\n    {\n    msg.payload[i].func='var task=\\\"'+task+'\\\";\\nvar node=\\\"'+node+'\\\";\\nmsg.payload=\\\"\\\";\\nmsg.nodename=node;\\nmsg.taskname=task;\\n\\nreturn msg;';\n    result=msg.payload[i];\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":893.1181182861328,"y":358.03490352630615,"wires":[["d71b5d61.a5433","883794f9.2567d8"]]},{"id":"6e2ae2c3.184dbc","type":"json","z":"daeeedfb.864be","name":"","x":730.1146392822266,"y":425.145938873291,"wires":[["331ab748.4eb888"]]},{"id":"d71b5d61.a5433","type":"file","z":"daeeedfb.864be","name":"","filename":"C:\\Users\\Acer\\Documents\\Generated\\Binding.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1231.8333587646484,"y":430.18230628967285,"wires":[]},{"id":"883794f9.2567d8","type":"http response","z":"daeeedfb.864be","name":"","x":1133.7346496582031,"y":282.9166946411133,"wires":[]},{"id":"2433dab.045cb26","type":"http in","z":"daeeedfb.864be","name":"","url":"/task_create","method":"get","swaggerDoc":"","x":198.40887451171875,"y":566.1067504882812,"wires":[["2573aef.a776152"]]},{"id":"2573aef.a776152","type":"file in","z":"daeeedfb.864be","name":"","filename":"C:\\Users\\Acer\\Documents\\TASK","format":"utf8","x":480.16282653808593,"y":576.1927852630615,"wires":[["d808f0d5.83ee9"]]},{"id":"2ec3ed68.13e482","type":"function","z":"daeeedfb.864be","name":"processing","func":"var taskinfo=msg.payload;\nvar task=msg.req.query.task;\nvar url_maker_code=\"msg.limit = 5;\\nmsg.skip = 0;\\nvar result=msg.payload.url;\\nvar url_base=result;\\nvar final_url=url_base+\\\"?\\\";\\n\";\n\nfor(var k=0;k<taskinfo.parameters.length;k++)\n{\n    url_maker_code=url_maker_code+\"\\nvar \"+ taskinfo.parameters[k]+\"=msg.\"+taskinfo.parameters[k]+\";\\n\";\n}\n\nvar url_core=\"\";\nfor(var l=0;l<taskinfo.parameters.length;l++)\n{\n    url_core=url_core+'\\nfinal_url=final_url+'+'\"'+ taskinfo.parameters[l]+'=\"+'+taskinfo.parameters[l]+';\\n';\n    if(l!=taskinfo.parameters.length-1)\n    {\n        url_core=url_core+'\\nfinal_url=final_url+\"&\";\\n';\n    }\n}\n\n\nurl_maker_code=url_maker_code+\"\\n\"+url_core;\nurl_maker_code=url_maker_code+\"\\nmsg.payload=final_url;\\n\";\nurl_maker_code=url_maker_code+\"\\nmsg.url=final_url;\\nreturn msg;\\n\";\n\n\n\n\nfor(var i =0; i<msg.flowtemp.length;i++)\n{\n     if(msg.flowtemp[i].name==\"query_allocation\")\n     {\n     msg.flowtemp[i].func='msg.limit = 5;\\nmsg.skip = 0;\\nvar task=\\\"'+task+'\\\"; \\nmsg.payload={ task: task};\\nmsg.projection = {\\\"_id\\\":0, \\\"url\\\":1,\\\"parameters\\\":1}; \\nreturn msg;\\n'; \n     }\n    \n    \n     if(msg.flowtemp[i].name==\"template_proxy\")\n     {\n     msg.flowtemp[i].name=task; \n     }\n    \n    \n    \n    \n    if(msg.flowtemp[i].name==\"url_maker_test\")\n    {\n     msg.flowtemp[i].func=url_maker_code;\n    }\n    \n}\n\nmsg.payload=msg.flowtemp;\nreturn msg;\n","outputs":1,"noerr":0,"x":940.6141891479492,"y":560.8942813873291,"wires":[["441b3d1d.ca9604","fafd0073.57329"]]},{"id":"d808f0d5.83ee9","type":"json","z":"daeeedfb.864be","name":"","x":744.6107406616211,"y":614.0053234100342,"wires":[["286df30a.34439c"]]},{"id":"441b3d1d.ca9604","type":"file","z":"daeeedfb.864be","name":"","filename":"C:\\Users\\Acer\\Documents\\Generated\\Task.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1257.329345703125,"y":669.0416259765625,"wires":[]},{"id":"fafd0073.57329","type":"http response","z":"daeeedfb.864be","name":"","x":1138.2305450439453,"y":552.7760381698608,"wires":[]},{"id":"4acb73af.bd2ffc","type":"mongodb in","z":"daeeedfb.864be","mongodb":"493d313a.71002","name":"tasks","collection":"tasks","operation":"find","x":866.5677337646484,"y":822.2500562667847,"wires":[["9432c860.2f62f8"]]},{"id":"286df30a.34439c","type":"function","z":"daeeedfb.864be","name":"query_task","func":"msg.limit = 5;\nmsg.skip = 0;\n\nmsg.flowtemp=msg.payload;\n\nvar task=msg.req.query.task;\nmsg.payload={ id: task};\nmsg.projection = {\"_id\":0, \"parameters\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":678.7339820861816,"y":769.9170475006103,"wires":[["4acb73af.bd2ffc"]]},{"id":"9432c860.2f62f8","type":"function","z":"daeeedfb.864be","name":"take_one","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]]);\n}\nmsg.payload=result[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":889.5677394866943,"y":718.5834980010986,"wires":[["2ec3ed68.13e482"]]},{"id":"493d313a.71002","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""}]