NodeRED flows/Task development
[{"id":"bd538ff1.ae6a08","type":"subflow","name":"x86_first_device","info":"","in":[{"x":25,"y":171.00000762939453,"wires":[{"id":"1b623a45.18abb6"}]}],"out":[{"x":2852.0001220703125,"y":356,"wires":[{"id":"258bd6fc.d34d9a","port":0}]}]},{"id":"cc166685.f24528","type":"mongodb in","z":"bd538ff1.ae6a08","mongodb":"f03ed1a4.b25e5","name":"tasks","collection":"tasks","operation":"find","x":363.83373641967773,"y":283.3333435058594,"wires":[["88230c95.4ffa8"]]},{"id":"1b623a45.18abb6","type":"function","z":"bd538ff1.ae6a08","name":"query task","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nflow.set(\"taskid\",task);\nmsg.payload={ id: task};\nmsg.projection = {\"_id\":0, \"id\":1,\"image_arm\":1,\"image_x86\":1,\"execution\":1,\"port_internal\":1,\"port_exeternal\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":105,"y":272.00035429000854,"wires":[["cc166685.f24528"]]},{"id":"88230c95.4ffa8","type":"function","z":"bd538ff1.ae6a08","name":"location_policy","func":"var result = {};\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result=msg.payload[keys[i]];\n}\n\n\nflow.set('location',result.execution);\n\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":659.0002861022949,"y":263.9999027252197,"wires":[["dca82ac8.74708"]]},{"id":"4dd7776b.721eb8","type":"mongodb in","z":"bd538ff1.ae6a08","mongodb":"f03ed1a4.b25e5","name":"mappings","collection":"mappings","operation":"find","x":1565.9769859313965,"y":268.97682189941406,"wires":[["8f65ef1f.093eb"]]},{"id":"e07175f7.1278d8","type":"function","z":"bd538ff1.ae6a08","name":"query node","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=flow.get('taskid'); \nmsg.payload={ task: task};\nmsg.projection = {\"_id\":0, \"node\":1,\"processing_speed\":1,\"network_delay\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":1399.1431159973145,"y":270.6440887451172,"wires":[["4dd7776b.721eb8"]]},{"id":"dca82ac8.74708","type":"function","z":"bd538ff1.ae6a08","name":"find nodes","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nvar location_par=flow.get('location');\nmsg.payload={location:location_par, arch:\"x86\"};\nmsg.projection = {\"_id\":0, \"id\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":892.5004692077637,"y":272.00001525878906,"wires":[["87a639e.fe3c3c8"]]},{"id":"87a639e.fe3c3c8","type":"mongodb in","z":"bd538ff1.ae6a08","mongodb":"f03ed1a4.b25e5","name":"nodes","collection":"nodes","operation":"find","x":1049.500286102295,"y":272.0000147819519,"wires":[["c70574f8.5578e"]]},{"id":"c70574f8.5578e","type":"function","z":"bd538ff1.ae6a08","name":"nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].id);\n}\nflow.set('nodes',result);\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1201.0002937316895,"y":272.0001678466797,"wires":[["e07175f7.1278d8"]]},{"id":"8f65ef1f.093eb","type":"function","z":"bd538ff1.ae6a08","name":"mapped nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]]);\n}\n\nflow.set('mapped',result);\nmsg.payload=flow.get('mapped');\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1734.4766654968262,"y":269.4765033721924,"wires":[["4be720a1.1fd67"]]},{"id":"4be720a1.1fd67","type":"function","z":"bd538ff1.ae6a08","name":"filter ","func":"var nodes=flow.get('nodes');\nvar mapped=flow.get('mapped');\nvar result=[];\n\nvar keys = Object.keys(mapped);\n\n\n\nfor(var i=0; i<nodes.length;i++)\n{  \n    for(var j =0; j<mapped.length;j++)\n    {\n        if (mapped[j].node==nodes[i])\n        {\n             result.push(mapped[j]);\n        }\n    }\n    \n}\n\nflow.set('filter1',result);\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1859.9786949157715,"y":356.4767150878906,"wires":[["a2f283d5.f3bc7"]]},{"id":"258bd6fc.d34d9a","type":"function","z":"bd538ff1.ae6a08","name":"first_policy","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].node);\n}\nmsg.payload=result[0];\nmsg.nodename=result[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2696.041316986084,"y":322.5234680175781,"wires":[[]]},{"id":"496b7caa.321e94","type":"mongodb in","z":"bd538ff1.ae6a08","mongodb":"a6de67d4.7656","name":"allocations","collection":"allocations","operation":"find","x":2212.834041595459,"y":540.3333129882812,"wires":[["2b15f81e.645c9"]]},{"id":"a2f283d5.f3bc7","type":"function","z":"bd538ff1.ae6a08","name":"query_allocation","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=flow.get('taskid'); \nmsg.payload=\"\";\nmsg.projection = {\"_id\":0, \"node\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":2030.0002403259277,"y":506.00030517578125,"wires":[["496b7caa.321e94"]]},{"id":"2b15f81e.645c9","type":"function","z":"bd538ff1.ae6a08","name":"mapped nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]]);\n}\n\nflow.set('allocated',result);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2355.1671714782715,"y":652.3333129882812,"wires":[["dd60b9d0.d37c68"]]},{"id":"dd60b9d0.d37c68","type":"function","z":"bd538ff1.ae6a08","name":"filter ","func":"var mapped=flow.get('filter1');\nvar allocated=flow.get('allocated');\nvar result=[];\n\n\nfor(var i=0; i<mapped.length;i++)\n{  \n    var aux=1;\n    for(var j =0; j<allocated.length;j++)\n    {\n        if (mapped[i].node==allocated[j].node)\n        {\n            aux=2;\n        }\n     \n    }\n    \n       \n        if(aux==1)\n        {\n          result.push(mapped[i]);\n\n        }\n    \n    \n}\n\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2565.167293548584,"y":682.3333129882812,"wires":[["258bd6fc.d34d9a"]]},{"id":"f03ed1a4.b25e5","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"a6de67d4.7656","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"9fbd61ac.7482f","type":"subflow","name":"arm_first_device","info":"","in":[{"x":192,"y":419.00000762939453,"wires":[{"id":"d0d5d072.bef3e"}]}],"out":[{"x":2769.0001220703125,"y":216.00003051757812,"wires":[{"id":"5c94f96.c936c88","port":0}]}]},{"id":"bc84a335.e9a178","type":"mongodb in","z":"9fbd61ac.7482f","mongodb":"f03ed1a4.b25e5","name":"tasks","collection":"tasks","operation":"find","x":446.833740234375,"y":284.3333435058594,"wires":[["b6d1bfc5.2b5928"]]},{"id":"d0d5d072.bef3e","type":"function","z":"9fbd61ac.7482f","name":"query task","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nflow.set(\"taskid\",task);\nmsg.payload={ id: task};\nmsg.projection = {\"_id\":0, \"id\":1,\"image_arm\":1,\"image_x86\":1,\"execution\":1,\"port_internal\":1,\"port_exeternal\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":332,"y":398.0003662109375,"wires":[["bc84a335.e9a178"]]},{"id":"b6d1bfc5.2b5928","type":"function","z":"9fbd61ac.7482f","name":"location_policy","func":"var result = {};\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result=msg.payload[keys[i]];\n}\n\n\nflow.set('location',result.execution);\n\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":619.0002861022949,"y":246.99990272521973,"wires":[["341740f7.316398"]]},{"id":"195ea60c.0b430a","type":"mongodb in","z":"9fbd61ac.7482f","mongodb":"f03ed1a4.b25e5","name":"mappings","collection":"mappings","operation":"find","x":1525.9769859313965,"y":251.97682189941406,"wires":[["3e0d3943.43b6d6"]]},{"id":"48795436.957f74","type":"function","z":"9fbd61ac.7482f","name":"query node","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=flow.get('taskid'); \nmsg.payload={ task: task};\nmsg.projection = {\"_id\":0, \"node\":1,\"processing_speed\":1,\"network_delay\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":1359.1431159973145,"y":253.6440887451172,"wires":[["195ea60c.0b430a"]]},{"id":"341740f7.316398","type":"function","z":"9fbd61ac.7482f","name":"find nodes","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nvar location_par=flow.get('location');\nmsg.payload={location:location_par, arch:\"arm\"};\nmsg.projection = {\"_id\":0, \"id\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":852.5004692077637,"y":255.00001525878906,"wires":[["858c26c3.e63ed8"]]},{"id":"858c26c3.e63ed8","type":"mongodb in","z":"9fbd61ac.7482f","mongodb":"f03ed1a4.b25e5","name":"nodes","collection":"nodes","operation":"find","x":1009.5002861022949,"y":255.0000147819519,"wires":[["d7b8e165.3eb498"]]},{"id":"d7b8e165.3eb498","type":"function","z":"9fbd61ac.7482f","name":"nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].id);\n}\nflow.set('nodes',result);\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1161.0002937316895,"y":255.0001678466797,"wires":[["48795436.957f74"]]},{"id":"3e0d3943.43b6d6","type":"function","z":"9fbd61ac.7482f","name":"mapped nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]]);\n}\n\nflow.set('mapped',result);\nmsg.payload=flow.get('mapped');\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1694.4766654968262,"y":252.47650337219238,"wires":[["17cd531c.23ad0d"]]},{"id":"17cd531c.23ad0d","type":"function","z":"9fbd61ac.7482f","name":"filter ","func":"var nodes=flow.get('nodes');\nvar mapped=flow.get('mapped');\nvar result=[];\n\nvar keys = Object.keys(mapped);\n\n\n\nfor(var i=0; i<nodes.length;i++)\n{  \n    for(var j =0; j<mapped.length;j++)\n    {\n        if (mapped[j].node==nodes[i])\n        {\n             result.push(mapped[j]);\n        }\n    }\n    \n}\n\nflow.set('filter1',result);\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1819.9786949157715,"y":339.4767150878906,"wires":[["8aac2dc4.fdd4d"]]},{"id":"5c94f96.c936c88","type":"function","z":"9fbd61ac.7482f","name":"first_policy","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].node);\n}\nmsg.payload=result[0];\nmsg.nodename=result[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2656.041316986084,"y":305.5234680175781,"wires":[[]]},{"id":"5f5bef89.764f9","type":"mongodb in","z":"9fbd61ac.7482f","mongodb":"a6de67d4.7656","name":"allocations","collection":"allocations","operation":"find","x":2172.834041595459,"y":523.3333129882812,"wires":[["edb2e50b.dfd92"]]},{"id":"8aac2dc4.fdd4d","type":"function","z":"9fbd61ac.7482f","name":"query_allocation","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=flow.get('taskid'); \nmsg.payload=\"\";\nmsg.projection = {\"_id\":0, \"node\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":1990.0002403259277,"y":489.00030517578125,"wires":[["5f5bef89.764f9"]]},{"id":"edb2e50b.dfd92","type":"function","z":"9fbd61ac.7482f","name":"mapped nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]]);\n}\n\nflow.set('allocated',result);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2315.1671714782715,"y":635.3333129882812,"wires":[["836f5a33.eb7a78"]]},{"id":"836f5a33.eb7a78","type":"function","z":"9fbd61ac.7482f","name":"filter ","func":"var mapped=flow.get('filter1');\nvar allocated=flow.get('allocated');\nvar result=[];\n\n\nfor(var i=0; i<mapped.length;i++)\n{  \n    var aux=1;\n    for(var j =0; j<allocated.length;j++)\n    {\n        if (mapped[i].node==allocated[j].node)\n        {\n            aux=2;\n        }\n     \n    }\n    \n       \n        if(aux==1)\n        {\n          result.push(mapped[i]);\n\n        }\n    \n    \n}\n\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2525.167293548584,"y":665.3333129882812,"wires":[["5c94f96.c936c88"]]},{"id":"f03ed1a4.b25e5","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"a6de67d4.7656","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"90fe7935.af7ab","type":"subflow","name":"service_creator","info":"","in":[{"x":68,"y":132,"wires":[{"id":"e7716749.e6df18"}]}],"out":[]},{"id":"e5eceba7.4119f8","type":"mongodb in","z":"90fe7935.af7ab","mongodb":"3b6435c9.85c04a","name":"tasks","collection":"tasks","operation":"find","x":278.75,"y":186.75,"wires":[["cc3cdee0.fa9ff"]]},{"id":"e7716749.e6df18","type":"function","z":"90fe7935.af7ab","name":"query task","func":"msg.limit = 5;\nflow.set('taskname',msg.taskname);\nflow.set('nodename',msg.nodename);\nmsg.skip = 0;\nvar task=flow.get('taskname'); \nmsg.payload={ id: task};\nmsg.projection = {\"_id\":0,\"id\":1,\"url\":1, \"parameters\":1, \"image_arm\":1,\"image_x86\":1,\"execution\":1,\"port_internal\":1,\"port_external\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":175.916259765625,"y":322.4169921875,"wires":[["e5eceba7.4119f8"]]},{"id":"cc3cdee0.fa9ff","type":"function","z":"90fe7935.af7ab","name":"task_info","func":"var result = {};\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result=msg.payload[keys[i]];\n}\n\nflow.set('taskinfo',result);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":419.916259765625,"y":293.75,"wires":[["c8a906d4.1e251"]]},{"id":"c8a906d4.1e251","type":"function","z":"90fe7935.af7ab","name":"query node","func":"msg.limit = 5;\n\nvar node=flow.get('nodename'); \nmsg.payload={ id: node};\nmsg.projection = {\"_id\":0, \"id\":1, \"arch\":1,\"location\":1,\"ip\":1};\nreturn msg;\n","outputs":1,"noerr":0,"x":568.7496337890625,"y":232.083251953125,"wires":[["8d76e413.00e908"]]},{"id":"8d76e413.00e908","type":"mongodb in","z":"90fe7935.af7ab","mongodb":"3b6435c9.85c04a","name":"nodes","collection":"nodes","operation":"find","x":704.7496337890625,"y":371.083251953125,"wires":[["4ff6ed66.11ccf4"]]},{"id":"4ff6ed66.11ccf4","type":"function","z":"90fe7935.af7ab","name":"node_info","func":"var result = {};\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result=msg.payload[keys[i]];\n}\n\nflow.set('nodeinfo',result);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":831.7496337890625,"y":246.083251953125,"wires":[["165de60d.257792"]]},{"id":"165de60d.257792","type":"function","z":"90fe7935.af7ab","name":"creator","func":"var nodei=flow.get('nodeinfo');\nvar taski=flow.get('taskinfo');\n\nif(nodei.location==\"external\")\n{\n    \n    msg.url=nodei.ip+\":\"+taski.port_external+   \"/\"+taski.url;\n    msg.payload=\"echo '\"+ msg.url+\"'\";\n\n}\nelse\n    {\n    \n        \n        if (nodei.arch==\"x86\")\n        {\n            msg.payload=\"sudo docker service create -p \"+taski.port_external+\":\"+taski.port_internal+\" --replicas 1 --network my-net --name \"+ taski.id+ \" --constraint 'node.labels.alias==\"+ nodei.id+ \"' \"+taski.image_x86;\n        }\n        else    \n        {\n        \n        msg.payload=\"sudo docker service create -p \"+taski.port_external+\":\"+taski.port_internal+\" --replicas 1 --network my-net --name \"+ taski.id+ \" --constraint 'node.labels.alias==\"+ nodei.id+ \"' \"+taski.image_arm;\n        }\n    \n            msg.url=\"127.0.0.1\"+\":\"+taski.port_external+   \"/\"+taski.url;\n\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":1022.916259765625,"y":231.75001525878906,"wires":[["227569b1.237d3e"]]},{"id":"227569b1.237d3e","type":"exec","z":"90fe7935.af7ab","command":" ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1143.816650390625,"y":312.6500244140625,"wires":[["60b45a55.f3935c"],[],[]]},{"id":"baaadcf3.bfae28","type":"mongodb out","z":"90fe7935.af7ab","mongodb":"f03ed1a4.b25e5","name":"insert_allocation","collection":"allocations","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1434.75,"y":284.29998779296875,"wires":[]},{"id":"60b45a55.f3935c","type":"function","z":"90fe7935.af7ab","name":"insert_set","func":"msg.limit = 5;\n\nvar node=flow.get('nodename'); \nvar task=flow.get('taskname');\nvar tinfo=flow.get('taskinfo');\nmsg.payload={ node: node, task:task, port_external:tinfo.port_external,port_internal:tinfo.port_internal,parameters:tinfo.parameters,url:msg.url, image_arm:tinfo.image_arm};\n\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1213,"y":207.75,"wires":[["baaadcf3.bfae28"]]},{"id":"3b6435c9.85c04a","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"f03ed1a4.b25e5","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"3bf728d9.ffd948","type":"subflow","name":"real_ram","info":"","in":[{"x":1094.999984741211,"y":228,"wires":[{"id":"9b1c7193.5d0a68"}]}],"out":[{"x":3577,"y":337.99998474121094,"wires":[{"id":"55a07098.625ef","port":0}]}]},{"id":"a4724511.7d1b3","type":"mongodb in","z":"3bf728d9.ffd948","mongodb":"f03ed1a4.b25e5","name":"tasks","collection":"tasks","operation":"find","x":1719.0999755859375,"y":309.566650390625,"wires":[["7d3a342f.f75484"]]},{"id":"9b1c7193.5d0a68","type":"function","z":"3bf728d9.ffd948","name":"query task","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nflow.set(\"taskid\",task);\nmsg.payload={ id: task};\nmsg.projection = {\"_id\":0, \"id\":1,\"image_arm\":1,\"image_x86\":1,\"execution\":1,\"port_internal\":1,\"port_exeternal\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":1583.2662353515625,"y":235.23365783691406,"wires":[["a4724511.7d1b3"]]},{"id":"7d3a342f.f75484","type":"function","z":"3bf728d9.ffd948","name":"location_policy","func":"var result = {};\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result=msg.payload[keys[i]];\n}\n\n\nflow.set('location',result.execution);\n\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2014.2665252685547,"y":290.23320960998535,"wires":[["3c6228d2.d5e62"]]},{"id":"195c15aa.00673a","type":"mongodb in","z":"3bf728d9.ffd948","mongodb":"f03ed1a4.b25e5","name":"mappings","collection":"mappings","operation":"find","x":2918.2431640625,"y":397.21014404296875,"wires":[["f4044c23.aa709"]]},{"id":"422d612c.a88918","type":"function","z":"3bf728d9.ffd948","name":"query node","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=flow.get('taskid'); \nmsg.payload={ task: task};\nmsg.projection = {\"_id\":0, \"node\":1,\"processing_speed\":1,\"network_delay\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":2754.409355163574,"y":296.8773956298828,"wires":[["195c15aa.00673a"]]},{"id":"3c6228d2.d5e62","type":"function","z":"3bf728d9.ffd948","name":"find nodes","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nvar location_par=flow.get('location');\nmsg.payload={location:location_par};\nmsg.projection = {\"_id\":0, \"id\":1,\"ram\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":2247.7667083740234,"y":298.2333221435547,"wires":[["dd37652e.d8eaf8"]]},{"id":"dd37652e.d8eaf8","type":"mongodb in","z":"3bf728d9.ffd948","mongodb":"f03ed1a4.b25e5","name":"nodes","collection":"nodes","operation":"find","x":2404.7665252685547,"y":298.23332166671753,"wires":[["383cb90e.36fdb6"]]},{"id":"383cb90e.36fdb6","type":"function","z":"3bf728d9.ffd948","name":"nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]]);\n}\nflow.set('nodes',result);\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2556.266532897949,"y":298.2334747314453,"wires":[["422d612c.a88918"]]},{"id":"f4044c23.aa709","type":"function","z":"3bf728d9.ffd948","name":"mapped","func":"\n\nvar result = [];\nvar keys = Object.keys(msg.payload);\n\n\nfor(var i =0; i<keys.length;i++)\n{\n \n      result.push(msg.payload[keys[i]]);\n}\n\n\nflow.set('mapped',result);\nmsg.payload=flow.get('mapped');\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3102.742919921875,"y":366.70977783203125,"wires":[["55a07098.625ef"]]},{"id":"55a07098.625ef","type":"function","z":"3bf728d9.ffd948","name":"filter ","func":"var nodes=flow.get('nodes');\nvar mapped=flow.get('mapped');\nvar result={};\n\nvar keys2 = Object.keys(nodes);\nvar keys = Object.keys(mapped);\nvar max=0;\n\n\nfor(var i=0; i<keys.length;i++)\n{  \n    for(var j =0; j<keys2.length;j++)\n    {\n        if (mapped[keys[i]].node==nodes[keys2[j]].id)\n        {\n            if(nodes[keys2[j]].ram>max)\n            {\n             max=nodes[keys2[j]].ram;    \n             result=nodes[keys2[j]];\n            }\n                    \n        }\n    }\n    \n}\n\nmsg.payload=result.id;\nmsg.nodename=result.id;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":3362.244873046875,"y":317.71002197265625,"wires":[[]]},{"id":"f03ed1a4.b25e5","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"18e20988.4c4aa6","type":"subflow","name":"real_first","info":"","in":[{"x":49,"y":205,"wires":[{"id":"e9eda326.c91c38"}]}],"out":[{"x":2314,"y":196,"wires":[{"id":"284db5bb.d266ea","port":0}]}]},{"id":"956d5a95.0aef","type":"mongodb in","z":"18e20988.4c4aa6","mongodb":"f03ed1a4.b25e5","name":"tasks","collection":"tasks","operation":"find","x":422.8337211608887,"y":203.56666564941406,"wires":[["9d331a3a.ce709"]]},{"id":"e9eda326.c91c38","type":"function","z":"18e20988.4c4aa6","name":"query task","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nflow.set(\"taskid\",task);\nmsg.payload={ id: task};\nmsg.projection = {\"_id\":0, \"id\":1,\"image_arm\":1,\"image_x86\":1,\"execution\":1,\"port_internal\":1,\"port_exeternal\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":163.99998474121094,"y":192.23367643356323,"wires":[["956d5a95.0aef"]]},{"id":"9d331a3a.ce709","type":"function","z":"18e20988.4c4aa6","name":"location_policy","func":"var result = {};\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result=msg.payload[keys[i]];\n}\n\n\nflow.set('location',result.execution);\n\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":718.0002708435059,"y":184.2332248687744,"wires":[["66a09a7b.e90884"]]},{"id":"4d3fc3b.d53cabc","type":"mongodb in","z":"18e20988.4c4aa6","mongodb":"f03ed1a4.b25e5","name":"mappings","collection":"mappings","operation":"find","x":1624.9769706726074,"y":189.21014404296875,"wires":[["1d17024b.19d54e"]]},{"id":"4855e96d.799d38","type":"function","z":"18e20988.4c4aa6","name":"query node","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=flow.get('taskid'); \nmsg.payload={ task: task};\nmsg.projection = {\"_id\":0, \"node\":1,\"processing_speed\":1,\"network_delay\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":1458.1431007385254,"y":190.87741088867188,"wires":[["4d3fc3b.d53cabc"]]},{"id":"66a09a7b.e90884","type":"function","z":"18e20988.4c4aa6","name":"find nodes","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nvar location_par=flow.get('location');\nmsg.payload={location:location_par};\nmsg.projection = {\"_id\":0, \"id\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":951.5004539489746,"y":192.23333740234375,"wires":[["569551b2.129e1"]]},{"id":"569551b2.129e1","type":"mongodb in","z":"18e20988.4c4aa6","mongodb":"f03ed1a4.b25e5","name":"nodes","collection":"nodes","operation":"find","x":1108.5002708435059,"y":192.2333369255066,"wires":[["b004b013.bebf1"]]},{"id":"b004b013.bebf1","type":"function","z":"18e20988.4c4aa6","name":"nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].id);\n}\nflow.set('nodes',result);\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1260.0002784729004,"y":192.23348999023438,"wires":[["4855e96d.799d38"]]},{"id":"1d17024b.19d54e","type":"function","z":"18e20988.4c4aa6","name":"mapped nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]]);\n}\n\nflow.set('mapped',result);\nmsg.payload=flow.get('mapped');\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1793.476650238037,"y":189.70982551574707,"wires":[["634f55a5.f832c4"]]},{"id":"634f55a5.f832c4","type":"function","z":"18e20988.4c4aa6","name":"filter ","func":"var nodes=flow.get('nodes');\nvar mapped=flow.get('mapped');\nvar result=[];\n\nvar keys = Object.keys(mapped);\n\n\n\nfor(var i=0; i<nodes.length;i++)\n{  \n    for(var j =0; j<keys.length;j++)\n    {\n        if (mapped[j].node==nodes[i])\n        {\n             result.push(mapped[keys[j]]);\n        }\n    }\n    \n}\n\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1979.978515625,"y":192.7100372314453,"wires":[["284db5bb.d266ea"]]},{"id":"284db5bb.d266ea","type":"function","z":"18e20988.4c4aa6","name":"first_policy","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].node);\n}\nmsg.payload=result[0];\nmsg.nodename=result[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2193.04150390625,"y":184.7567596435547,"wires":[[]]},{"id":"f03ed1a4.b25e5","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"ae2b9df3.28132","type":"subflow","name":"real_fastest","info":"","in":[{"x":53,"y":156,"wires":[{"id":"55e9f4b4.13eca4"}]}],"out":[{"x":2257.9998779296875,"y":144.00001525878906,"wires":[{"id":"e3cc0ea3.0eb178","port":0}]}]},{"id":"b5539873.441c9","type":"mongodb in","z":"ae2b9df3.28132","mongodb":"f03ed1a4.b25e5","name":"tasks","collection":"tasks","operation":"find","x":367.566650390625,"y":165.56666564941406,"wires":[["17923248.267b46"]]},{"id":"55e9f4b4.13eca4","type":"function","z":"ae2b9df3.28132","name":"query task","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nflow.set(\"taskid\",task);\nmsg.payload={ id: task};\nmsg.projection = {\"_id\":0, \"id\":1,\"image_arm\":1,\"image_x86\":1,\"execution\":1,\"port_internal\":1,\"port_exeternal\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":231.73291015625,"y":91.23367309570312,"wires":[["b5539873.441c9"]]},{"id":"17923248.267b46","type":"function","z":"ae2b9df3.28132","name":"location_policy","func":"var result = {};\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result=msg.payload[keys[i]];\n}\n\n\nflow.set('location',result.execution);\n\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":662.7332000732422,"y":146.2332248687744,"wires":[["d314bf83.76ec3"]]},{"id":"996a000a.ced278","type":"mongodb in","z":"ae2b9df3.28132","mongodb":"f03ed1a4.b25e5","name":"mappings","collection":"mappings","operation":"find","x":1569.7098999023438,"y":151.21014404296875,"wires":[["e6d186f2.c787e8"]]},{"id":"65e63411.99447c","type":"function","z":"ae2b9df3.28132","name":"query node","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=flow.get('taskid'); \nmsg.payload={ task: task};\nmsg.projection = {\"_id\":0, \"node\":1,\"processing_speed\":1,\"network_delay\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":1402.8760299682617,"y":152.87741088867188,"wires":[["996a000a.ced278"]]},{"id":"d314bf83.76ec3","type":"function","z":"ae2b9df3.28132","name":"find nodes","func":"msg.limit = 5;\nmsg.skip = 0;\nvar task=msg.payload; \nvar location_par=flow.get('location');\nmsg.payload={location:location_par};\nmsg.projection = {\"_id\":0, \"id\":1}; \nreturn msg;\n","outputs":1,"noerr":0,"x":896.2333831787109,"y":154.23333740234375,"wires":[["773d4300.2190ec"]]},{"id":"773d4300.2190ec","type":"mongodb in","z":"ae2b9df3.28132","mongodb":"f03ed1a4.b25e5","name":"nodes","collection":"nodes","operation":"find","x":1053.2332000732422,"y":154.2333369255066,"wires":[["dfc8d46b.7e9a98"]]},{"id":"dfc8d46b.7e9a98","type":"function","z":"ae2b9df3.28132","name":"nodes","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].id);\n}\nflow.set('nodes',result);\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1204.7332077026367,"y":154.23348999023438,"wires":[["65e63411.99447c"]]},{"id":"e6d186f2.c787e8","type":"function","z":"ae2b9df3.28132","name":"max speed","func":"\n\nvar result = [];\nvar keys = Object.keys(msg.payload);\nvar max=0;\n\nfor(var i =0; i<keys.length;i++)\n{\n  if(msg.payload[keys[i]].processing_speed>max) \n  {\n      result.push(msg.payload[keys[i]]);\n  }\n}\n\n\nflow.set('mapped',result);\nmsg.payload=flow.get('mapped');\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1728.2095794677734,"y":151.70982551574707,"wires":[["41710aa7.b9968c"]]},{"id":"41710aa7.b9968c","type":"function","z":"ae2b9df3.28132","name":"filter ","func":"var nodes=flow.get('nodes');\nvar mapped=flow.get('mapped');\nvar result=[];\n\nvar keys = Object.keys(mapped);\n\n\n\nfor(var i=0; i<nodes.length;i++)\n{  \n    for(var j =0; j<keys.length;j++)\n    {\n        if (mapped[j].node==nodes[i])\n        {\n             result.push(mapped[keys[j]]);\n        }\n    }\n    \n}\n\nmsg.payload=result;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1924.7114448547363,"y":154.7100372314453,"wires":[["e3cc0ea3.0eb178"]]},{"id":"e3cc0ea3.0eb178","type":"function","z":"ae2b9df3.28132","name":"first_policy","func":"var result = [];\nvar keys = Object.keys(msg.payload);\nfor(var i =0; i<keys.length;i++)\n{  \n  result.push(msg.payload[keys[i]].node);\n}\nmsg.payload=result[0];\nmsg.nodename=result[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":2083.566650390625,"y":214.56666564941406,"wires":[[]]},{"id":"f03ed1a4.b25e5","type":"mongodb","z":"","hostname":"ds113841.mlab.com","port":"13841","db":"cloudtest","name":""},{"id":"3f28fc4e.fee994","type":"subflow","name":"binder_final","info":"","in":[],"out":[]},{"id":"cd249955.d675d","type":"switch","z":"3f28fc4e.fee994","name":"algorithm","property":"alg","propertyType":"msg","rules":[{"t":"eq","v":"first","vt":"str"},{"t":"eq","v":"fastest","vt":"str"},{"t":"eq","v":"arm","vt":"str"},{"t":"eq","v":"x86","vt":"str"},{"t":"eq","v":"ram","vt":"str"}],"checkall":"true","outputs":5,"x":701.3333129882812,"y":345.3333435058594,"wires":[["bbbd7566.8162a8"],["928380b6.802a58"],["ebc34f42.29078"],["21e613e4.c6bf0c"],["31f8abad.744434"]]},{"id":"e76691ca.ccb928","type":"function","z":"3f28fc4e.fee994","name":"set_parameters","func":"var tsk=\"test_processing\"; \nvar alg=\"arm\"; \nflow.set('tsk',tsk);\nflow.set('alg',alg);\nmsg.alg=alg;\n\nreturn msg;","outputs":1,"noerr":0,"x":569.7333374023438,"y":500.11651611328125,"wires":[["cd249955.d675d"]]},{"id":"bbbd7566.8162a8","type":"function","z":"3f28fc4e.fee994","name":"test_proc","func":"var tsk1=flow.get('tsk'); \nmsg.taskname=tsk1;\nmsg.payload=tsk1;\nreturn msg;","outputs":1,"noerr":0,"x":949.2666625976562,"y":150.09991455078125,"wires":[["a41398ce.1a217"]]},{"id":"ea928ff7.fcc578","type":"subflow:ae2b9df3.28132","z":"3f28fc4e.fee994","x":1106.2666625976562,"y":281.09991455078125,"wires":[["59f4060c.b7991"]]},{"id":"928380b6.802a58","type":"function","z":"3f28fc4e.fee994","name":"test_proc","func":"var tsk1=flow.get('tsk'); \nmsg.taskname=tsk1;\nmsg.payload=tsk1;\nreturn msg;","outputs":1,"noerr":0,"x":939.2666625976562,"y":260.79986572265625,"wires":[["ea928ff7.fcc578"]]},{"id":"a41398ce.1a217","type":"subflow:18e20988.4c4aa6","z":"3f28fc4e.fee994","x":1126.2666625976562,"y":149.73321533203125,"wires":[["f7e75fca.80fc68"]]},{"id":"ebc34f42.29078","type":"function","z":"3f28fc4e.fee994","name":"test_proc","func":"var tsk1=flow.get('tsk'); \nmsg.taskname=tsk1;\nmsg.payload=tsk1;\nreturn msg;","outputs":1,"noerr":0,"x":934.3333129882812,"y":357.16656494140625,"wires":[["b1bf8daa.d902f"]]},{"id":"21e613e4.c6bf0c","type":"function","z":"3f28fc4e.fee994","name":"test_proc","func":"var tsk1=flow.get('tsk'); \nmsg.taskname=tsk1;\nmsg.payload=tsk1;\nreturn msg;","outputs":1,"noerr":0,"x":892.3333129882812,"y":464.83306884765625,"wires":[["2e60cbb4.dc7494"]]},{"id":"31f8abad.744434","type":"function","z":"3f28fc4e.fee994","name":"test_proc","func":"var tsk1=flow.get('tsk'); \nmsg.taskname=tsk1;\nmsg.payload=tsk1;\nreturn msg;","outputs":1,"noerr":0,"x":873.2666625976562,"y":579.1666870117188,"wires":[["284574e.22ba38c"]]},{"id":"284574e.22ba38c","type":"subflow:3bf728d9.ffd948","z":"3f28fc4e.fee994","name":"","x":1029.1666870117188,"y":658.2832641601562,"wires":[["d2b970ac.36ae1"]]},{"id":"f7e75fca.80fc68","type":"subflow:90fe7935.af7ab","z":"3f28fc4e.fee994","x":1464.8333740234375,"y":143.28317260742188,"wires":[]},{"id":"59f4060c.b7991","type":"subflow:90fe7935.af7ab","z":"3f28fc4e.fee994","x":1478.8333740234375,"y":274.28314208984375,"wires":[]},{"id":"47dc55b7.fa9f14","type":"subflow:90fe7935.af7ab","z":"3f28fc4e.fee994","x":1493.8333740234375,"y":399.28314208984375,"wires":[]},{"id":"e9eb1baa.dd5688","type":"subflow:90fe7935.af7ab","z":"3f28fc4e.fee994","x":1517.8333740234375,"y":504.283203125,"wires":[]},{"id":"d2b970ac.36ae1","type":"subflow:90fe7935.af7ab","z":"3f28fc4e.fee994","x":1496.8333740234375,"y":658.2831726074219,"wires":[]},{"id":"3cb99ec7.133a4a","type":"inject","z":"3f28fc4e.fee994","name":"bind test","topic":" ","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":349,"y":681.4498291015625,"wires":[["959167e2.bfe62"]]},{"id":"959167e2.bfe62","type":"delay","z":"3f28fc4e.fee994","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":392,"y":330.349853515625,"wires":[["e76691ca.ccb928"]]},{"id":"b1bf8daa.d902f","type":"subflow:9fbd61ac.7482f","z":"3f28fc4e.fee994","x":1139.1667022705078,"y":366.8333282470703,"wires":[["47dc55b7.fa9f14"]]},{"id":"2e60cbb4.dc7494","type":"subflow:bd538ff1.ae6a08","z":"3f28fc4e.fee994","x":1182.166748046875,"y":492.1666564941406,"wires":[["e9eb1baa.dd5688"]]}]
